*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container{
    width: min(1080px,100%);
    margin-inline:auto;
    padding-bottom: 1em;
}
:root{
    --bg-clr:rgb(41, 116, 148);
    --hover-clr:gray;
    --text1-clr:whitesmoke;

}

.menu{
    background-color: var(--bg-clr);
    color:var(--text1-clr);
    display: grid;
    width: min(300px,100%);
    margin-inline: auto;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    padding:2em 0.5em;
    border-radius: 1em;
    h1{
        margin-bottom: 1em;
        text-align: center;
    }
    a{
        padding: 12px;
        text-decoration: none;
        color: var(--text1-clr);
        border-bottom: 1px solid var(--text1-clr);
    }
    a:hover{
        background-color: var(--hover-clr)
        
    }
}
header{
    margin-bottom: 12px;
    box-shadow: 3px 3px 3px gray;
    background-color: var(--bg-clr);
    color: var(--text1-clr);
    padding: 9px;
    
}
header > div{
    width: min(1080px,100%);
    margin-inline: auto;
}

#pilih{
    display: grid;
    gap:6px;
    justify-content: end;
    align-items: top;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
}
.cekbox{
    display: none;
}

.cekbox+label{
    text-align: center;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--bg-clr);
}


.cekbox:checked+label {
            background-color: #86d6b2;
            color: white;
            border-color: #4CAF50;
}
.huruf{
    box-shadow: 3px 3px 3px gray;
    border-radius: 20px;
    margin: 9px;
    border:0.2px solid rgb(15, 108, 124);
    cursor:pointer;
}

section{
    box-shadow: 3px 3px 3px gray;
    padding: 9px;
    border:1px solid gray;
    margin-bottom: 1em;
    border-radius: 5px;
}
.hide{
    display: none;
}
.kembali{
    margin-top: 24px;
    a{
        background-color: red;
        color: var(--text1-clr);
        padding: 9px;
        text-decoration: none;
    }
}
#mulaibtn{
    padding:0.5em 1em;
    background-color: rgb(95 108 235);
    color:var(--text1-clr);
    font-weight: 700;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
}